R == 3.2.0
parallel == 20161222
fastqc == 0.11.5
kraken == 0.10.6
kraken-report == 0.10.6
trimmomatic == 0.36
samtools == 1.3.1
bowtie2 == 2.2.9
bammarkduplicates2 (biobaambam2) == 0.0.191
bedtools == 2.26.0
featureCounts == 1.5.1

Python libraries    -   "multiqc == 0.9", "numpy == 1.7.0", "matplotlib == 1.5.3", "Jinja2 == 2.7.3", "MarkupSafe == 0.23", "multiqc == 0.8",
R libraries         -   "dupRadar == 1.2.2", "Rsubread == 1.22.3"